

html, body {
    height: 100%;
}

body{
	background-image: url('./Images/default.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	text-shadow: 2px 1px 1px #000000;
	font-family: "paletino Linotype", "Book Antiqua", serif;
}

#weatherContainer{
	background-color: rgba(0,0,0,0.25);
	box-shadow: 1px 1px 5px black;
	padding: 50px;
	border-radius: 10px;
	position: absolute;
	visibility: hidden;
}

#weatherContainer h1{
	margin: 7px;
	font-size: 45px;
	font-family: sans-serif;
}

#searchContainer{
	padding: 15px;
	position: absolute;
	top: 0;
	right: 0;
}

#searchContainer input{
	width: 200px;
}

#searchContainer button{
	background-color: rgba(1.159,198);
	width: 75px;
}

.searchControl {
	box-shadow: 2px 2px 5px black;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

#weatherMain{
	display: block;
	margin-bottom: 20px; 
}



#weatherDescriptionHeader {
	font-size: 20px;
	vertical-align: 50%;
}

#temperature{
	font-size: 35px;
}

.bottomDetails{
	display: block;
	font-size: 24px;
	text-align: right;
}

h4{
	margin-bottom: 20px
}